html {
    background-color: rgb(14, 47, 56)
}

h1 {
    text-align: center;
    color:aliceblue;
    font-family:"Papyrus", "Copperplate", fantasy;
}

p {
    text-align:center;
    font-style:verdana;
    font-size:20px;
    color:aliceblue;
    font-family:"Papyrus", "Copperplate", fantasy;
}

a {
    color: red;
}

img {
    padding-left:0;
    width:50vw;
    height:70vh;
    padding-right:24vw;
    padding-left:24vw;

}

@media screen and (max-width: 1000px) {
    img {
        width:99vw;
        padding-left:0;
        padding-right:0;
    }
}

@media screen and (max-width: 425px) {
    img {
        height:40vh;
    }
}